from termcolor import colored
import pygame
import webbrowser
import os

def Hilfe():
	print "  m = Musik abspielen"
	print "  r = Taschenrechner"
	print "  s = Internetsuche"
	print "  f = AirDorid zu Handy"
	print "  p = 'Fish eat fish' spielen"

def Taschenrechner():
	B = int(raw_input(" "))
	C = raw_input(" ")
	D = int(raw_input(" "))
	if C == "+":
		E = B + D
	if C == "-":
		E = B - D
	if C == "*":
		E = B * D
	if C == "/":
		E = B / D
	print
	print colored (E, 'green')

def Internet():
	webbrowser.open('https://www.google.de/')


A = raw_input(" ")

if A == "m":
	os.system("vlc https://raw.githubusercontent.com/redRosesCode/Shortcuts/master/Musik.mp3 2> /dev/null & ")		# cvlc ohne Benutzerobefläche;
	 																		# & für weitere Nutzung Terminal
if A == "h":
	Hilfe()

if A == "r":
	Taschenrechner()

if A == "s":
	Internet()

if A == "f":
	webbrowser.open('/yourPath')

if A == "p":
	webbrowser.open('http://de.y8.com/games/fish_eat_fish_3_players')
